name: Benchmark

on: workflow_dispatch 

permissions:
  contents: read

defaults:
  run:
    working-directory: Src

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x

    - name: Restore dependencies
      run: dotnet restore

    - name: Build
      run: dotnet build --no-restore

    - name: Run benchmark (net10.0)
      run: dotnet run bench --framework net10.0 --configuration Release
      working-directory: Src/UUIDNext.Benchmarks